{%- if  template == 'customers/account' or template == 'customers/order' or template == 'customers/addresses' -%}
  {%- assign add_top_margin = true -%}
{%- else -%}
  {%- assign add_top_margin = false -%}
{%- endif -%}

{%- if template == 'page.collections' -%}
  {%- assign add_top_margin = false -%}
{%- endif -%}

<footer id="section-{{ section.id }}" class="Footer {% if section.blocks.size <= 2 %}Footer--center{% endif %} {% if add_top_margin %}Footer--withMargin{% endif %}" role="contentinfo">
  <div class="Container">
    {%- if section.blocks.size > 0 -%}
      <div class="Footer__Inner">
          <div class="mobile-only">
            <div class="footer-social">
              {% render 'social-media', class: 'Footer__Social', spacing: 'loose' %}
            </div>
              {%- form 'customer', id: 'footer-newsletter', class: 'Footer__Newsletter Form ' -%}
                {%- if form.posted_successfully? -%}
                  <p class="Form__Alert Alert Alert--success">{{ 'footer.newsletter.success' | t }}</p>
                 {%- else -%}
                 {%- if form.errors -%}
                  <p class="Form__Alert Alert Alert--error">{{ form.errors.messages['email'] }}</p>
                 {%- endif -%}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input type="email" name="contact[email]" class="Form__Input" aria-label="{{ 'footer.newsletter.input' | t }}" placeholder="{{ 'footer.newsletter.input' | t }}" required>
                  <button type="submit" class="Button-newsletter">{{ 'footer.newsletter.submit' | t }}</button>
                 {%- endif -%}
              {%- endform -%}
          </div>
        {%- for block in section.blocks -%}
          <div class="Footer__Block Footer__Block--{{ block.type }}" {{ block.shopify_attributes }}>
            {%- case block.type -%}
              {%- when 'text' -%}
                {%- if block.settings.title != blank -%}
                  <h2 class="Footer__Title Heading u-h6">{{ block.settings.title | escape }}</h2>
                {%- endif -%}
                  <div class="Footer__Content">
                    {%- if block.settings.mail-content != blank -%}
                      <div class="footer__content-flex">
                        {% render 'icon-mail'%}
                        <h4>{{ block.settings.mail-content }}</h4>
                      </div>
                   {%- endif -%}
                   {%- if block.settings.whatsapp-content != blank -%}
                     <div class="footer__content-flex">
                       {% render 'icon-whatsapp'%}
                       <h4>{{ block.settings.whatsapp-content }}</h4>
                     </div>
                  {%- endif -%}
                  {%- if block.settings.instagram-content != blank -%}
                    <div class="footer__content-flex">
                      {% render 'icon-instagram'%}
                      <h4>{{ block.settings.instagram-content }}</h4>
                    </div>
                 {%- endif -%}

                  </div>
              {%- when 'links' -%}
                {%- assign linklist = linklists[block.settings.menu] -%}

                {%- if linklist != empty -%}
                  <h2 class="Footer__Title Heading u-h6">{{ linklist.title | escape }}</h2>

                  <ul class="Linklist">
                    {%- for link in linklist.links -%}
                      <li class="Linklist__Item">
                        <a href="{{ link.url }}" class="Link Link--primary">{{ link.title | escape }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              {%- when 'newsletter' -%}
               <div class="desktop-only">
                  {%- if block.settings.title != blank -%}
                    <h2 class="Footer__Title Heading u-h6">{{ block.settings.title | escape }}</h2>
                  {%- endif -%}

                  {%- if block.settings.content != blank -%}
                    <div class="Footer__Content Rte">
                      {{ block.settings.content }}
                    </div>
                  {%- endif -%}

                  {%- form 'customer', id: 'footer-newsletter', class: 'Footer__Newsletter Form ' -%}
                    {%- if form.posted_successfully? -%}
                      <p class="Form__Alert Alert Alert--success">{{ 'footer.newsletter.success' | t }}</p>
                    {%- else -%}
                      {%- if form.errors -%}
                        <p class="Form__Alert Alert Alert--error">{{ form.errors.messages['email'] }}</p>
                      {%- endif -%}

                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <input type="email" name="contact[email]" class="Form__Input" aria-label="{{ 'footer.newsletter.input' | t }}" placeholder="{{ 'footer.newsletter.input' | t }}" required>
                      <button type="submit" class="Button-newsletter">{{ 'footer.newsletter.submit' | t }}</button>
                    {%- endif -%}
                  {%- endform -%}
                  {%- if block.settings.show_social_media -%}
                    {% render 'social-media', class: 'Footer__Social', spacing: 'loose' %}
                  {%- endif -%}
                </div>
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}

    <div class="Footer__Aside">
      <div class="Footer__legal">
        <a href="{{ routes.root_url }}" class="Footer__StoreName u-h6 Link Link--secondary">© {{ shop.name }}</a>
        <div class="align-center">
          {%- if section.settings.button-mediakit != blank -%}
            <a href="{{ section.settings.link }}" class="Button Button--primary btn-mediakit">{{ section.settings.button-mediakit }}</a>
          {% endif %}
          {%- if section.settings.show_payment_methods -%}
            {%- capture payment_methods -%}
              {%- for type in shop.enabled_payment_types -%}
                <li class="HorizontalList__Item">{{ type | payment_type_svg_tag }}</li>
              {%- endfor -%}
            {%- endcapture -%}
            {%- if payment_methods != blank -%}
              <ul class="Footer__PaymentList HorizontalList">
                {{ payment_methods }}
              </ul>
            {%- endif -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_methods",
      "label": "Show payment methods",
      "info": "Payment method icons are automatically displayed based on your Shopify payment methods.",
      "default": true
    },
    {
      "type": "text",
      "id": "button-mediakit",
      "label": "Button mediakit",
      "default": "Telecharger mediakit",
      "info": "it displays a button"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text / social media",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About the shop"
        },
        {
          "type": "text",
          "id": "mail-content",
          "label": "Mail Text",
          "default": "Mail : contact@adesso.com"
        },
        {
          "type": "text",
          "id": "whatsapp-content",
          "label": "Whatsapp Text",
          "default": "Watsapp : 01.02.03.04.05"
        } ,
        {
          "type": "text",
          "id": "instagram-content",
          "label": "Instagram Text",
          "default": "Instagram : @adesso.beauty"
        }

      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items."
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
        },
        {
          "type": "checkbox",
          "id": "show_social_media",
          "label": "Show social media",
          "info": "Make sure to have properly configured your social media in the theme settings.",
          "default": true
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text",
        "settings": {}
      },
      {
        "type": "links",
        "settings": {
          "menu": "footer"
        }
      },
      {
        "type": "newsletter",
        "settings": {}
      }
    ]
  }
}
{% endschema %}
